<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tentang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="img-logo" src="assets/image/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>
          Aa Kosim (Artificial Computer Serviceman) merupakan aplikasi cerdas menggunakan teknologi chatbot yang dapat memberikan solusi terhadap permasalahan PC/Laptop anda.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
