<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img class="img-logo" src="assets/image/logo.png"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nama Lengkap</ion-label>
            <ion-input ngModel type="text" name="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Alamat Email</ion-label>
            <ion-input ngModel type="email" name="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Kata Sandi</ion-label>
            <ion-input ngModel type="password" name="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Konfirmasi Kata Sandi</ion-label>
            <ion-input ngModel type="password" name="password_confirmation"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="secondary" expand="block">Buat Akun Baru</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="text-description">
            Sudah memiliki akun? <a href="#" routerLink="/login">Masuk</a>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>